@import '@material/button/mdc-button';
@import '@hw/theme/variables';

.mdc-button {
  font-family: $body-font-family;
  font-size: 13px;
  height: 28px;
  line-height: 28px;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: initial;
  border-radius: 3px;

  //font-smoothing: auto;
  //-moz-osx-font-smoothing: auto;
  //-webkit-font-smoothing: auto;
}

.mdc-button--primary {
  @include mdc-button-filled-accessible($btn-bg-color-primary);
  @include mdc-button-ink-color($white);
}


.mdc-button--std {
  @include mdc-button-filled-accessible($btn-bg-color-default);
  @include mdc-button-ink-color($text-color-dark);
}


.mdc-button--danger {
  @include mdc-button-filled-accessible($btn-bg-color-danger);
  @include mdc-button-ink-color($white);
}

.mdc-button__icon {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  font-size: 16px;
}
