@import '../packages/button/hw-button';

@import './common';

body {
  @include body-common();
}

fieldset {
  padding: 20px 0;
  margin-bottom: 10px;
}

.mdc-typography--display1,
.mdc-typography--display2 {
  margin: 10px 0;
}
